<!-- <div class="grid mt-4">
  <div class="col-12 flex flex-row justify-content-end py-0">
    <button type="button" label="Sair" icon="fa fa-ban"
      class="p-button-outlined p-button-light mr-3 md:w-12rem" pButton
      (click)="resetRegisterForm()"></button>
    <button type="button" label="Salvar Nova Versão" icon="fa fa-copy" pButton
      class="p-button-outlined p-button-secondary mr-3 md:w-14rem"
      (click)="resetRegisterForm()"></button>
    <button type="button" label="Aprovação Comercial" icon="fa fa-check" pButton
      class="p-button-outlined p-button-secondary mr-3 md:w-14rem"
      (click)="resetRegisterForm()"></button>
    <button type="button" label="Aprovação Cliente" icon="fa fa-check" pButton
      class="p-button-outlined p-button-secondary mr-3 md:w-14rem"
      (click)="resetRegisterForm()"></button>
    <button type="submit" label="Salvar" icon="fa fa-save" pButton class="md:w-14rem"></button>
  </div>
</div> -->
