<div class="ui-fluid">
  <div class="grid">
    <div class="md:col-5">
      <div class="card no-margin">
        <form #channelSearchForm="ngForm" (ngSubmit)="search($event)">
          <h5>Busca de Canal</h5>
          <div class="p-fluid grid form-group">
            <div class="field col">
              <label for="Identification" class="formTitle">Buscar</label>
              <div class="input-group-clear">
                <input id="input" type="text" pInputText placeholder="Nome do Canal" [(ngModel)]="channelSearch.name"
                name="search" />
                <a (click)="resetSearchForm()" *ngIf="channelSearch.name"><i class="pi pi-times"></i></a>
              </div>
            </div>
            <div class="md:col-3 mt-3 pt-3">
              <button type="submit" label="Buscar" icon="" class="p-element p-button p-component mr-3" pButton></button>
            </div>
            <div class="md:col-12">
              <p-table #dt [columns]="cols" [value]="channelList" dataKey="id" [style]="{'margin-bottom':'20px'}"
                [responsive]="true" selectionMode="single" [(selection)]="channelRegister" (onRowSelect)="edit($event)"
                (onRowUnselect)="resetRegisterForm()" [resizableColumns]="true"
                [rows]="10" [showCurrentPageReport]="false" [paginator]="true" [scrollable]="true">
                <ng-template pTemplate="header" let-columns>
                  <tr>
                    <th *ngFor="let col of columns" [pSortableColumn]="col.field" [ngStyle]="{'width': col.width}">
                      {{col.header}}
                      <p-sortIcon [field]="col.field"></p-sortIcon>
                    </th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                  <tr [pSelectableRow]="rowData">
                    <td>
                      {{rowData.name}}
                    </td>
                    <td>
                      {{rowData.active == true ? 'Ativo' : 'Inativo'}}
                    </td>

                  </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                  <tr>
                    <td colspan="8" class="justify-content-center">Sem registros encontrados</td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-12 lg:col-7">
      <div class="card no-margin">
        <form #channelRegisterForm="ngForm" (ngSubmit)="save()" novalidate>
          <h5>Cadastro de Canal</h5>
          <div class="p-fluid grid form-group">
            <div class="md:col-9 field">
              <label for="name" class="formTitle">Nome <span class="text-danger">*</span></label>
              <input id="name" type="text" pInputText [(ngModel)]="channelRegister.name" name="registerName"
                autocomplete="off" required />
            </div>
            <div class="md:col-3 field">
              <label for="status" class="formTitle">Situação <span class="text-danger">*</span></label>
              <p-dropdown id="status" [options]="statusList" [(ngModel)]="selectedStatus"
                name="registerStatus" optionLabel="name" [showClear]="false" required>
              </p-dropdown>
            </div>

            <div class="field col-6">
              <label for="registerBlocked" class="formTitle">Possui Parceiro</label>
              <div class="field-input-switch">
                <p-inputSwitch [(ngModel)]="channelRegister.hasPartner" name="hasPartner"
                  class="input-switch-component"></p-inputSwitch>
              </div>
            </div>

            <div class="field col-6">
              <label for="registerBlocked" class="formTitle">Possui Venda Interna</label>
              <div class="field-input-switch">
                <p-inputSwitch [(ngModel)]="channelRegister.hasInternalSale" name="hasInternalSale"
                  class="input-switch-component"></p-inputSwitch>
              </div>
            </div>

            <div class="col-12 flex flex-row justify-content-end py-0">
              <button type="button" label="Cancelar" icon="fa fa-ban"
                class="p-button-outlined p-button-light mr-3 md:w-10rem" *ngIf="channelRegister.id" pButton
                (click)="cancel()"></button>
              <button type="button" label="Excluir" icon="fa fa-trash-o"
                class="p-button-outlined p-button-danger mr-3 md:w-10rem" *ngIf="channelRegister.id" pButton
                (click)="remove(channelRegister)"></button>
              <button type="button" label="Novo" icon="fa fa-file-o" pButton
                class="p-button-outlined p-button-secondary mr-3 md:w-10rem" (click)="resetRegisterForm()"></button>
              <button type="submit" label="Salvar" icon="fa fa-save" pButton class="md:w-10rem"
                [disabled]="channelRegisterForm.invalid"></button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
