
<p-tabView>
    
    <p-tabPanel header="Editar">
       
       <div class="col-12 lg:col-12">

            <form #updatePeriodsForm="ngForm" (ngSubmit)="save()" novalidate>
            
                <div class="col-12 flex flex-row py-0">
                    <div class="md:col-2 field">
                        <h6>Período Início</h6>
                        <p-calendar name="startDate" [(ngModel)]="startDate" [showButtonBar]="true"
                            [monthNavigator]="true" [yearNavigator]="true" [showIcon]="true" dateFormat="dd/mm/yy"
                            yearRange="2000:2100" appendTo="body" required>
                        </p-calendar>
                    </div>
    
                    <div class="md:col-2 field">
                        <h6>Período Fim</h6>
                        <p-calendar name="endDate" [(ngModel)]="endDate" [showButtonBar]="true"
                            [monthNavigator]="true" [yearNavigator]="true" [showIcon]="true" dateFormat="dd/mm/yy"
                            yearRange="2000:2100" appendTo="body" required>
                        </p-calendar>
                    </div>
                </div>
    
                <div class="col-12 flex flex-row justify-content-start py-0">
                    <button type="button" label="Cancelar" pButton icon="fa fa-ban" 
                        class="p-button-outlined p-button-light mr-3 md:w-10rem" (click)="cancel()"> 
                    </button>
                    <button type="submit" label="Aplicar" pButton icon="fa fa-save" class="mr-3 md:w-10rem"
                    [disabled]="updatePeriodsForm.invalid">
                    </button>
                </div>
            </form>
        </div>

    </p-tabPanel>

    <p-tabPanel *ngIf="tabListDuplicateShow" header="Lista de Registros Duplicados">

        <div class="md:col-12">
            <p-table #dt [columns]="cols" [value]="productModelCostFindDuplicateMultipleValue" dataKey="id" [style]="{'margin-bottom':'20px'}"
              [responsive]="true" [rows]="10" [showCurrentPageReport]="false" [paginator]="true"
              [scrollable]="true" [resizableColumns]="true">

                <ng-template pTemplate="header" let-columns>
                    <tr>
                    <th *ngFor="let col of columns" [pSortableColumn]="col.field" [ngStyle]="{'width': col.width}">
                        {{col.header}}
                        <p-sortIcon [field]="col.field"></p-sortIcon>
                    </th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr [pSelectableRow]="rowData">
                    <td style=" text-align: center;">
                        {{rowData.productModel.model.brand.name}}
                    </td>
                    <td style=" text-align: center;">
                        {{rowData.productModel.model.name}}
                    </td>
                    <td style=" text-align: center;">
                        {{rowData.productModel.product.name}}
                    </td>
                    <td style=" text-align: center;">
                        {{rowData.productModel.modelYearText}}
                    </td>
                    <td style=" text-align: center;">
                        {{rowData.startDateEndDateText}}
                    </td>
                    <td style=" text-align: center;">
                        {{rowData.totalValue | currencyBR}}
                    </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                    <td colspan="8" class="justify-content-center">Sem registros encontrados</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

    </p-tabPanel>

    <p-toast></p-toast>

    <p-toast position="bottom-center" key="confirmUpdatePeriods" (onClose)="onReject()" [baseZIndex]="5000">
        <ng-template let-message pTemplate="message">
            <div class="flex flex-column" style="flex: 1">
                <div class="text-center">
                    <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
                    <h4>{{message.summary}}</h4>
                    <p>{{message.detail}}</p>
                </div>
                <div class="grid p-fluid">
                    <div class="col-6">
                        <button type="button" pButton (click)="onConfirm()" label="Yes" class="p-button-success"></button>
                    </div>
                    <div class="col-6">
                        <button type="button" pButton (click)="onReject()" label="No" class="p-button-secondary"></button>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-toast>

</p-tabView>